BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
NamespaceIndentation: All
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInBracedInitList: true
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: true
IndentCaseLabels: true
