# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out/build/linux-debug
/.vs
/src/download/.idea
/src/download/build/main
/src/download/__pycache__
/__pycache__/chimera.cpython-38.pyc
/.idea
/out/install/linux-debug/bin
/src/profile/__pycache__
/meta.yaml
/.condaignore
/out
/Dockerfile
/__pycache__
/chimera_image.tar
/CMakeSettings.json
/.dockerignore
/pyproject.toml
/ChimeraClassify.tsv
/ChimeraProfile_profile.tsv
